{%extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}Hardware - {% endblock %}

{% block style %}

{% endblock %}
{% block Calendar_Support %}

{% endblock %}
 {%  block content %}
     <div class="results" xmlns="http://www.w3.org/1999/html">
            <p>
                 <a role="button" href="{% url 'hardware_new' %}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Add hardware
                </a>
            </p>

     <script>
     $(document).ready(function() {
    var oTable = $('.datatable').dataTable({
        // ...
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'order_list_json' %}"
    });
    // ...
});
</script>

                    <ul  class="pagination pagination-centered">
                        {% if page_items.has_previous %}
                            <li>
                                <span><a href="?page={{ page_items.previous_page_number }}">Previous</a></span>
                            </li>
                        {% else %}
                            <li >
                                <span style="color: lightgrey">Previous</span>
                            </li>
                        {% endif %}
                            <li class="">
                                <span>Page {{ page_items.number }} of {{ page_obj.paginator.num_pages }}.</span>
                            </li>
                        {% if page_items.has_next %}
                            <li>
                                <span><a href="?page={{ page_items.next_page_number }}">Next</a></span>
                            </li>
                        {% else %}
                            <li >
                                <span style="color: lightgrey">Next</span>
                            </li>
                        {% endif %}
                    </ul>



     </div>
 {% endblock %}