{% load staticfiles %}

<!-- ##JavaScript Scripts Files -->
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap core JavaScript Scripts Files -->


    <script src="{% static 'js/bootstrap.min.js'%}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <script src="{% static 'js/ie10-viewport-bug-workaround.js'%}"></script>


    <!-- ##JavaScript Scripts Files END -->

